:root {
    --header-height: 96px;
    --footer-height: 178.828px;
}

.nav-text{
    color: black;
}

.navbar-brand:hover, .nav-text:hover{
    color: white;
    background-color: black;
}

.category-item:hover{
    background-color: #e6e6e7;
    border-radius: 12px;
}
.table-fontsize{
    font-size: 0.9rem;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*main {*/
/*    min-height: calc(100vh - (var(--header-height) + var(--footer-height)));*/
/*    margin-bottom: auto;*/
/*}*/

footer {
    margin-top: auto;
}

.hidden {
    display: none;
}

