.category-item:hover{
    background-color: #e6e6e7;
    border-radius: 12px;
}
.table-fontsize{
    font-size: 0.96rem;
}

body{
    height: 100vh;
}

main {
    height: auto;
    min-height: 100%;
    padding-bottom: 180px;
}
footer{
    height: 180px;
    position : relative;
    transform : translateY(-100%);
}

